# Menu-Setup.
#
# name and label are required for each item
# color and icon are optional
# only gifs (48x48) are supported
#
---
  - 
    name: "programming"
    label: "Programming"
    color: "#603cba"
    icon: "symbol.braces"
    items: 
      - 
        name : "idle &"
        label: "Python 2"
        color: "#603cba"
        icon : "python"
      - 
        name : "idle3 &"
        label: "Python 3"
        color: "#603cba"
        icon : "python"
      - 
        name : "sonic-pi &"
        label: "Sonic Pi"
        color: "#603cba"
        icon : "sonic-pi"
  - 
    name: "tools"
    label: "Tools"
    color: "#603cba"
    icon: "tux"
    items: 
      - 
        name : "leafpad &"
        label: "Text Editor"
        color: "#603cba"
        icon : "leafpad"
      - 
        name : "x-terminal-emulator &"
        label: "Terminal"
        color: "#603cba"
        icon : "lxterminal"
      - 
        name : "firefox-esr &"
        label: "Firefox"
        color: "#603cba"
        icon : "firefox-alt"
      -
        name : "pcmanfm &"
        label: "Files"
        color: "#603cba"
        icon : "cabinet.files.variant"
  - 
    name: "settings"
    label: "Settings"
    color: "#9f00a7"
    icon: "save"
    items:
      -
        name : "appearance"
        label: "Appearance"
        icon : "quill"
        items:
          -
            name : "lxappearance &"
            label: "Themes"
            icon : "lxappearance"
          -
            name : "obconf &"
            label: "Windows"
            icon : "window"
          -
            name : "obmenu &"
            label: "Menu"
            icon : "shield"
          -
            name : "leafpad /home/pi/.config/openbox/autostart.sh &"
            label: "Autostart"
            icon : "leafpad"
          -
            name : "pcmanfm --desktop-pref &"
            label: "Desktop"
            icon : "window"
      -
        name : "xfce4-notifyd-config &"
        label: "Notifications"
        icon : "notifications"
      -
        name : "pavucontrol &"
        label: "Volume"
        icon : "sound.3"
      -
        name : "sudo pcmanfm"
        label: "Root access"
        icon : "cabinet.files.variant"
